video {
    width: 30%;
}

td,
th {
    border: 1px solid gray;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 20px;
    padding: 20px;
}

nav ul li:hover {
    background-color: aqua;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}